#background-primary{
    background-color: #1fb205 !important;
}

.text-header-primary{
    color: white !important;
}

.button-primary{
    /* color: white !important; */
    background-color: #1fb205 !important;
    /* border-radius: 100% !important; */
}

.text-primary{
    color:#1fb205 !important;
}

.midle{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 300px;
}

.image-logo{
    display: block;
    margin: 9% auto;
}

.text-black{
    color:black !important;
}

.border-table-black{
    border: 1px solid #000 !important;
}