#bg-gradient-primary{
    background-color: #1b810f !important;
}

.text-header-primary{
    color: white !important;
}

.btn-primary{
    /* color: white !important; */
    background-color: #1b810f !important;
    /* border-radius: 100% !important; */
}

.text-primary{
    color:#1b810f !important;
}

.midle{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 300px;
}

.image-logo{
    display: block;
    margin: 9% auto;
}

.text-black{
    color:black !important;
}